#lipud {
    position: absolute;
    top: 0;
    left: 600px;
}
#Eesti {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 50px;
    left: 600px;

}

/* pseudoelementide kasutamine*/
#Eesti tr:nth-child(1) {
    background-color: darkblue;
}
#Eesti tr:nth-child(2) {
    background-color: black;
}
#Eesti tr:nth-child(3) {
    background-color: white;
}
