#lipud {
    position: absolute;
    top: 0;
    left: 600px;
}
#Eesti {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 50px;
    left: 600px;

}

/* pseudoelementide kasutamine*/
#Eesti tr:nth-child(1) {
    background-color: darkblue;
}
#Eesti tr:nth-child(2) {
    background-color: black;
}
#Eesti tr:nth-child(3) {
    background-color: white;
}


#Taani {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 300px;
    left: 600px;
}

#Taani tr:nth-child(1)  td:nth-child(1),  #Taani tr:nth-child(3)  td:nth-child(1){ /* 1. rida ja lahter*/
    background-color: crimson;
    width: 100px;
}
#Taani tr:nth-child(2) {
    background-color: white;
    height: 30px;
}

#Taani tr:nth-child(1)  td:nth-child(3),  #Taani tr:nth-child(3)  td:nth-child(3){ /* 1. rida ja lahter*/
    background-color: crimson;
    width: 185px;

}

#Taani td{
    border: 0;
}


#Itaalia {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 600px;
    left: 600px;
}

#Itaalia td:nth-child(1)  {
    background-color: green;
    width: 100px;
}
#Itaalia td:nth-child(3)  {
    background-color: red;
    width: 100px;
}

#Itaalia td{
    border: 0;
}

#Madagascari {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 900px;
    left: 600px;
}

#Madagascari td:nth-child(2) tr:nth-child(1) {
    background-color: white;
    width: 50px;

}
#Madagascari tr:nth-child(2) {
    background-color: green;
    width: 200px;

}
#Madagascari td:nth-child(2),  #Madagascari td:nth-child(2) {
    background-color: red;
    width: 200px;
}

#Island {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 1200px;
    left: 600px;
}

#Island tr:nth-child(1)  td:nth-child(1),  #Island tr:nth-child(5)  td:nth-child(1){
    background-color: darkblue;
    width: 80px;
}
#Island tr:nth-child(2) {
    background-color: white;
    height: 20px;
}



#Island tr:nth-child(4) {
    background-color: white;
    height: 20px;
}

#Island tr:nth-child(1)  td:nth-child(5),  #Island tr:nth-child(5)  td:nth-child(4),  #Island tr:nth-child(5)  td:nth-child(3),  #Island tr:nth-child(5)  td:nth-child(2){
    background-color: darkblue;
    width: 50px;

}

#Island tr:nth-child(2)  td:nth-child(1){
    background-color: white;
    width: 20px;
}
#Island tr:nth-child(4)  td:nth-child(1){
    background-color: white;
    width: 20px;
}


#Island tr:nth-child(3) {
    background-color: red;
    height: 20px;

}


#Island tr:nth-child(1)  td:nth-child(3){
    background-color: red;
    width: 20px;

}

#Island td{
    border: 0;
}


